<br><div class="container">
  <div class="d-flex align-items-center">
    <div class="card mx-auto" style="max-width: 1000px;">
      <div class="card-body text-center">
        <h4 class="card-title"><%= @author.first_name %> <%= @author.last_name %></h4>
        <p class="card-text">Date of Birth: <%= @author.date_of_birth %></p>

        <div class="btn-group">
          <%= link_to 'Edit Profile', edit_author_path(@author), class: "btn btn-outline-success" %> &nbsp
          <%= button_to 'Delete Profile', author_path(@author), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
